---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';
import { tagsOnly, formatDate, formatHijri } from '../../utils/common';
import slugify from 'slugify';

const posts = await getCollection('post');
const allTags = posts.flatMap((post: any) => post.data.tags || []);
const uniqueTags = [...new Set(tagsOnly(allTags))];

const sortedPosts = posts
  .filter((p: any) => p.data.public !== false)
  .sort((a: any, b: any) => b.data.date.valueOf() - a.data.date.valueOf());
---

<BaseLayout title="posts">
  <h2>Posts</h2>
  {
    uniqueTags.map((tag: any) => (
      <Fragment>
        <a href={`/posts/${slugify(tag as string, { lower: true })}/`}>
          #{tag}
        </a>{' '}
      </Fragment>
    ))
  }
  <ul>
    {
      sortedPosts.map((post: any) => (
        <li>
          <span title={formatDate(post.data.date)}>
            {formatHijri(post.data.date, post.data.date_shift)}
          </span>
          {' - '}
          <a href={`/post/${post.slug}/`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
