<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="data:," />
        <title>zaeem's place{% if title %} | {{ title }}{% endif %}</title>
        <meta name="description" content="zaeem's place">
        <meta name="author" content="abulujayn">
        {% set baseTags = ["abu lujayn", "abulujayn", "zaeem", "zaeem's place", "zaeems place", "zaeems", "place", "blog", "nocss", "no css", "nojs", "no js", "simple", "minimal"] %}
        {% set postTags = tags | default([]) | tagsOnly %}
        {% set tags = baseTags.concat(postTags).concat(meta | default([])) | uniq %}
        <meta name="keywords" content="{{ tags | join(", ")}}">
    </head>
    <body>
        <h1>zaeem's place</h1>
        <div>
            <a href="/">Home</a>
            -
            <a href="/posts">Posts</a>
            -
            <a href="/projects">Projects</a>
        </div>
        <hr />
        {{ content | safe }}
    </body>
</html>