---
layout: base.njk
---

<h2>{{ title }}</h2>

{{ content | safe }}

{% if tags %}
    {% for tag in tags | filterTags %}
        <a href="/posts/{{ tag | slug }}/">#{{ tag }}</a>
    {% endfor %}
{% endif %}
<hr />
<em>Published on {{ page.date | date }}{% if edited %}, edited on {{ page.edited | date }}{% endif %} {% if using %}using {{ using }}{% endif %} built by <a href="https://11ty.dev" target="_blank">11ty</a></em>