---
pagination:
    data: collections
    size: 1
    filter:
    - posts
    - all
    alias: tag
permalink: /posts/{{ tag | slug }}/

layout: base.njk
eleventyComputed:
    title: "#{{ tag}} posts"
---

<h2>Posts tagged #{{ tag }}</h2>
<a href="/posts/">All posts</a>
<ul>
    {% for post in (collections[tag] | reverse) %}
        {% if post.data.public %}
            <li>
                <span title="{{ post.date | date }}">{{ post.date | hijri(post.data.date_shift) }}</span>
                -
                <a href="{{ post.url }}">{{ post.data.title }}</a>
            </li>
        {% endif %}
    {% endfor %}
</ul>